<div style="margin-top:10px;padding:20px">
  <mat-tab-group>
    <mat-tab label="Nowa faktura">
      <div>
        <div *ngIf="noClients">
          <p style="color:red">Dodaj klienta w zakladce Nowy klient</p>
        </div>
        <div *ngIf="noProducts">
          <p style="color:red">Dodaj produkt w zakladce Nowy produkt</p>
        </div>

        <h2>{{invoiceNumber}}</h2>
        <div style="float:left">
          <mat-form-field style="margin-right:10px;width: 90px" color="warn">
            <input color="warn" (change)="setVat(vat);calculate()" matInput placeholder="Procent Vat" type="number"
              [(ngModel)]='vat'>
          </mat-form-field>
        </div>
        <div style="margin-bottom:20px">
          <mat-toolbar>
            <div style="padding:10px">
              <p>Nip: {{choosedClient.TaxId}}</p>
              <p>Nazwa firmy: {{choosedClient.CompanyName}}</p>
              <p>Adres: {{choosedClient.Address}}</p>
            </div>
            <mat-toolbar-row>
              <mat-form-field class="example-full-width">
                <input (click)="appendClient()" type="text" placeholder="Klient" aria-label="text" matInput
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option (click)="chooseClient(client)" *ngFor="let client of clients" [value]="client.Name">
                    {{client.Name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <br>
        <br>
        <mat-form-field style="margin-right: 150px">
          <input id="dateTo" matInput placeholder="Data płatności" type="date" [(ngModel)]='invoiceAddCommand.PaymentDate'>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Data wystawienia" type="date" [(ngModel)]='invoiceAddCommand.CreatedDate'>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-right: 150px!important">
          <input matInput placeholder="Forma płatności" type="text" [(ngModel)]='invoiceAddCommand.PaymentType'>
        </mat-form-field>
        <mat-form-field>
          <mat-select (click)="appendProduct()" placeholder="Produkty" [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} others)
              </span>
            </mat-select-trigger>
            <mat-option (click)="chooseProducts(product)" *ngFor="let product of products" [value]="product.Name">{{product.Name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-list *ngFor="let product of choosedProducts" style="padding:10px;border-radius:5px;border: 1px solid #3f51b5;margin-bottom:4px"
          color="warn" role="list">

          <mat-list-item color="warn" role="listitem">
            <mat-form-field style="margin-right:10px;width: 60px" color="warn">
              <input color="warn" (change)="calculate()" matInput placeholder="Ilosc" type="number" [(ngModel)]='product.Quantity'>
            </mat-form-field>
            <h3 style="float:right">{{product.Name}}</h3>
          </mat-list-item>
          <mat-list-item>
            <span>Wartość Vat:
              <strong>{{ product.Quantity * product.NettoPrice * vatPercent}}</strong>
            </span>
            <span style="margin-left:10px">Wartość Brutto:
              <strong>{{ product.Quantity * product.NettoPrice * vatPercentOverall}} </strong>
            </span>
          </mat-list-item>
        </mat-list>
        <br>
        <mat-toolbar style="height:auto!important" color="primary">
          <div style="padding:10px">
            <p>Faktura - podsumowanie:</p>
            <p>Kwota netto: {{summary.Netto}}</p>

            <p>Podatek vat: {{summary.Vat}}</p>

            <p> Kwota Brutto: {{summary.Brutto}}</p>
          </div>

        </mat-toolbar>
        <div style="margin-top:20px">
          <button color="warn" mat-raised-button (click)="openDialog()">Zdefinuj</button>
          <button color="primary" mat-raised-button (click)="sendInvoice()">Wystaw</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Nowy produkt">
      <div id="formularzProduktu">
        <mat-form-field>
          <input matInput placeholder="Nazwa" type="text" [(ngModel)]='productAddCommand.Name'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Cena Netto" type="number" [(ngModel)]='productAddCommand.NettoPrice'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Jednostka miary" type="text" [(ngModel)]='productAddCommand.Unit'>
        </mat-form-field>
        <br>
        <button color="primary" mat-raised-button (click)="addProduct()">Dodaj</button>
      </div>
    </mat-tab>

    <mat-tab label="Nowy klient">
      <div id="formularzKlienta">
        <mat-form-field>
          <input matInput placeholder="Opis" type="text" [(ngModel)]='clientAddCommand.Name'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nazwa" type="text" [(ngModel)]='clientAddCommand.Description'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nr konta bankowego" type="text" [(ngModel)]='clientAddCommand.AccountNumber'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Adres" type="text" [(ngModel)]='clientAddCommand.Address'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nip" type="text" [(ngModel)]='clientAddCommand.TaxId'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="NazwaFirmy" type="text" [(ngModel)]='clientAddCommand.CompanyName'>
        </mat-form-field>
        <br>
        <button color="primary" mat-raised-button (click)="addClient()">Dodaj</button>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
