<div style="margin-top:10px;padding:20px">
  <mat-tab-group>
    <mat-tab label="Nowa faktura">
      <div> 
        <div *ngIf="brakKlienta"><p style="color:red">Dodaj klienta w zakladce Nowy klient</p></div>
        <div *ngIf="brakProduktu"><p style="color:red">Dodaj produkt w zakladce Nowy produkt</p></div>

        <h2>{{nrFaktury}}</h2>
        <div style="float:left">
        <mat-form-field style="margin-right:10px;width: 90px" color="warn">
          <input color="warn" (change)="ustawVat(vat);przelicz()" matInput placeholder="Procent Vat" type="number" [(ngModel)]='vat'>
        </mat-form-field>
      </div>
        <div style="margin-bottom:20px">
          <mat-toolbar>
            <div style="padding:10px">
              <p>Nip: {{wybranyKlient.Nip}}</p>
              <p>Nazwa firmy: {{wybranyKlient.NazwaFirmy}}</p>
              <p>Adres: {{wybranyKlient.Adres}}</p>
            </div>
            <mat-toolbar-row>
              <mat-form-field class="example-full-width">
                <input (click)="dopiszKlienta()" type="text" placeholder="Klient" aria-label="text" matInput [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option (click)="wybierzKlienta(klient)" *ngFor="let klient of klienci" [value]="klient.Nazwa">
                    {{klient.Nazwa}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <br>
        <br>
        <mat-form-field style="margin-right: 150px">
          <input id="dateTo" matInput placeholder="Data płatności" type="date" [(ngModel)]='komendaStworzeniaFaktury.DataPlatnosci'>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Data wystawienia" type="date" [(ngModel)]='komendaStworzeniaFaktury.DataWystawienia'>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-right: 150px!important">
          <input matInput placeholder="Forma płatności" type="text" [(ngModel)]='komendaStworzeniaFaktury.FormaPlatnosci'>
        </mat-form-field>
        <mat-form-field>
          <mat-select (click)="dopiszProdukt()" placeholder="Produkty" [formControl]="toppings" multiple>
            <mat-select-trigger>
              {{toppings.value ? toppings.value[0] : ''}}
              <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                (+{{toppings.value.length - 1}} others)
              </span>
            </mat-select-trigger>
            <mat-option (click)="wybierzProdukty(produkt)" *ngFor="let produkt of produkty" [value]="produkt.Nazwa">{{produkt.Nazwa}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-list *ngFor="let produkt of produktyWybrane" style="padding:10px;border-radius:5px;border: 1px solid #3f51b5;margin-bottom:4px"
          color="warn" role="list">

          <mat-list-item color="warn" role="listitem">
            <mat-form-field style="margin-right:10px;width: 60px" color="warn">
              <input color="warn" (change)="przelicz()" matInput placeholder="Ilosc" type="number" [(ngModel)]='produkt.Ilosc'>
            </mat-form-field>
            <h3 style="float:right">{{produkt.Nazwa}}</h3>
          </mat-list-item>
          <mat-list-item>
            <span>Wartość Vat:
              <strong>{{ produkt.Ilosc * produkt.CenaNetto * procentVat}}</strong>
            </span>
            <span style="margin-left:10px">Wartość Brutto:
              <strong>{{ produkt.Ilosc * produkt.CenaNetto * procentVatCaly}} </strong>
            </span>
          </mat-list-item>
        </mat-list>
        <br>
        <mat-toolbar style="height:auto!important" color="primary">
          <div style="padding:10px">
            <p>Faktura - podsumowanie:</p>
            <p>Kwota netto: {{podsumowanie.Netto}}</p>

            <p>Podatek vat: {{podsumowanie.Vat}}</p>

            <p> Kwota Brutto: {{podsumowanie.Brutto}}</p>
          </div>

        </mat-toolbar>
        <div style="margin-top:20px">
          <button color="warn" mat-raised-button (click)="otworzDialog()">Zdefinuj</button>
          <button color="primary" mat-raised-button (click)="wystawFakture()">Wystaw</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Nowy produkt">
      <div id="formularzProduktu">
        <mat-form-field>
          <input matInput placeholder="Nazwa" type="text" [(ngModel)]='komendaStworzeniaProduktu.Nazwa'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Cena Netto" type="number" [(ngModel)]='komendaStworzeniaProduktu.CenaNetto'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Jednostka miary" type="text" [(ngModel)]='komendaStworzeniaProduktu.JednostkaMiary'>
        </mat-form-field>
        <br>
        <button color="primary" mat-raised-button (click)="dodajProdukt()">Dodaj</button>
      </div>
    </mat-tab>

    <mat-tab label="Nowy klient">
      <div id="formularzKlienta">
        <mat-form-field>
          <input matInput placeholder="Opis" type="text" [(ngModel)]='komendaStworzeniaKlienta.Nazwa'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nazwa" type="text" [(ngModel)]='komendaStworzeniaKlienta.Opis'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nr konta bankowego" type="text" [(ngModel)]='komendaStworzeniaKlienta.NrKontaBankowego'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Adres" type="text" [(ngModel)]='komendaStworzeniaKlienta.Adres'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Nip" type="text" [(ngModel)]='komendaStworzeniaKlienta.Nip'>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="NazwaFirmy" type="text" [(ngModel)]='komendaStworzeniaKlienta.NazwaFirmy'>
        </mat-form-field>
        <br>
        <button color="primary" mat-raised-button (click)="dodajKlienta()">Dodaj</button>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
<!-- <div>
  <div>
    <button (click)="pokazFormularzFaktury = true">Nowa faktura</button>
  </div>
</div>
<div *ngIf="pokazFormularzProduktu != true">
    <div>
      <button (click)="pokazFormularzProduktu = true">Nowy produkt</button>
    </div>
</div>
<div *ngIf="pokazFormularzKlienta != true">
    <div>
      <button (click)="pokazFormularzKlienta = true">Nowy klient</button>
    </div>
</div> -->