<div style="margin-top:50px;padding:20px;width:600px">
  <mat-tab-group>
    <mat-tab label="Faktury">
      <mat-list role="list">

        <mat-list-item class="faktura-lista" *ngFor="let invoice of invoices;let i = index" role="listitem">
          <a style="width: 100%" (click)="chooseinvoice(invoice)">{{i + 1}}. {{invoice.Name}} : {{invoice.Client.Name}}</a>
          <a class="usun-fakture" (click)="delete(invoice)">X</a>
        </mat-list-item>

      </mat-list>
    </mat-tab>
    <mat-tab label="Klienci">
      <mat-list role="list">

        <mat-list-item class="faktura-lista-klient" *ngFor="let client of clients;let i = index" role="listitem">
          <a style="width: 100%" (click)="editClient(client)">{{i + 1}}. {{client.Name}} : {{client.Address}}</a>
          <a class="usun-fakture" (click)="deleteClient(client)">X</a>
        </mat-list-item>

      </mat-list>
    </mat-tab>
    <mat-tab label="Produkty">
      <mat-list role="list">

        <mat-list-item class="faktura-lista-produkt" *ngFor="let product of products;let i = index" role="listitem">
          <a style="width: 100%" (click)="editProduct(product)">{{i + 1}}. {{product.Name}} : {{product.NettoPrice}}</a>
          <a class="usun-fakture" (click)="deleteProduct(product)">X</a>
        </mat-list-item>

      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
